<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
        <DataCollectors>
			<DataCollector friendlyName="Code Coverage"
					   uri="datacollector://Microsoft/CodeCoverage/2.0"
					   assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=16.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
				<Configuration>
					<CodeCoverage>
						<ModulePaths>
							<Exclude>
								<ModulePath>.*testcontainers.*</ModulePath>
								<ModulePath>.*Docker.*</ModulePath>
								<ModulePath>.*Dapper.*</ModulePath>
								<ModulePath>.*FluentValidation.*</ModulePath>
								<ModulePath>.*sso-tests.*</ModulePath>
								<ModulePath>.*Portal.Features.*.Domain.*</ModulePath>
								<ModulePath>.*Portal.Infra</ModulePath>
							</Exclude>
						</ModulePaths>
						<Functions>
							<Exclude>
								<Function>Portal.Features.*.Domain.*</Function>
								<Function>Portal.Infra</Function>
							</Exclude>
						</Functions>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>